body {
  font-family: 'Montserrat Alternates', sans-serif;
  scroll-behavior: smooth
}

.landingPage {
  width: 100vw;
  height: 100vh;
  background-image: url('./background.jpg');
  background-size: cover;
}
